<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.client.show.vo.ShowVO" alias="showVO" />
		<typeAlias type="com.spring.client.show.vo.RankVO" alias="rankVO" />
		<typeAlias type="com.spring.client.show.vo.ImgVO" alias="imgVO" />
		<typeAlias type="com.spring.client.theater.vo.TheaterVO" alias="theaterVO" />
	</typeAliases>
</configuration>